# Module 1 Get Started on Apache Spark

In [1]:
# Start a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('abc').getOrCreate()

In [2]:
df = spark.read.csv('data/employee.csv',header=True);

In [3]:
df.schema

StructType(List(StructField(id,StringType,true),StructField(last_name,StringType,true),StructField(email,StringType,true),StructField(gender,StringType,true),StructField(department,StringType,true),StructField(start_date,StringType,true),StructField(salary,StringType,true),StructField(job_title,StringType,true),StructField(region_id,StringType,true)))

In [4]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- department: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- region_id: string (nullable = true)

In [5]:
df.columns

['id',
 'last_name',
 'email',
 'gender',
 'department',
 'start_date',
 'salary',
 'job_title',
 'region_id']

In [6]:
df.show(5)

+---+-----------+--------------------+--------+------------+------------+------+--------------------+---------+
| id|  last_name|               email|  gender|  department|  start_date|salary|           job_title|region_id|
+---+-----------+--------------------+--------+------------+------------+------+--------------------+---------+
|  1|   'Kelley'|'rkelley0@soundcl...|'Female'| 'Computers'| '10/2/2009'| 67470|'Structural Engin...|        2|
|  2|'Armstrong'|'sarmstrong1@info...|  'Male'|    'Sports'| '3/31/2008'| 71869| 'Financial Advisor'|        2|
|  3|     'Carr'|'fcarr2@woothemes...|  'Male'|'Automotive'| '7/12/2009'|101768|'Recruiting Manager'|        3|
|  4|   'Murray'|   'jmurray3@gov.uk'|'Female'|  'Jewelery'|'12/25/2014'| 96897|'Desktop Support ...|        3|
|  5|    'Ellis'|'jellis4@scienced...|'Female'|   'Grocery'| '9/19/2002'| 63702|'Software Enginee...|        7|
+---+-----------+--------------------+--------+------------+------------+------+--------------------+---------+
only showing top 5 rows

In [7]:
df.count()

1000

In [8]:
df2 = df.sample(False,0.1)
df2.count()

80

In [9]:
df3 = df.filter("salary>10000")
df3.count()

1000

In [10]:
df3.select("salary").show()

+------+
|salary|
+------+
| 67470|
| 71869|
|101768|
| 96897|
| 63702|
|118497|
| 65889|
| 84427|
|108657|
|108093|
|121966|
| 44179|
| 85227|
| 59763|
|141139|
|106659|
|148952|
| 93804|
|109890|
|115274|
+------+
only showing top 20 rows